In [1]:
pip install -U setuptools

Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (69.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2

In [3]:
pip install panda

Requirement already satisfied: panda in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.3.1)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from panda) (69.2.0)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from panda) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->panda) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->panda) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->panda) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->panda) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install wheel

Requirement already satisfied: wheel in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.43.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
def create_database():
    #connect to default database
    conn =  psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=fatal")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    #create sparkify database  with utf8 encoding
    cur.execute ("DROP DATABASE IF EXISTS accounts")
    cur.execute ("CREATE DATABASE accounts")

    #close connection to default database
    conn.close()


    #connect to sparkify database
    conn =  psycopg2.connect("host=127.0.0.1 dbname=accounts user=postgres password=fatal")    
    conn.set_session (autocommit=True)
    cur=conn.cursor()
    
    return cur, conn

In [7]:
def drop_table (cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [8]:
def create_table (cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [9]:
AccountsCountry = pd.read_csv("Wealth-AccountsCountry.csv")

In [10]:
AccountsCountry.head()

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
1,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",NaN,...,"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina
2,ARM,Republic of Armenia,Upper middle income,Europe & Central Asia,IBRD,NaN,Armenian dram,2020 (expected),"Demographic and Health Survey, 2015/16",NaN,...,"Integrated household survey (IHS), 2016",Yes,2014,NaN,2018.0,2012.0,AM,AM,Armenia,Armenia
3,AUS,Commonwealth of Australia,High income,East Asia & Pacific,NaN,NaN,Australian dollar,2016,NaN,Fiscal year end: June 30; reporting period for...,...,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2015-2016,2013.0,2018.0,2013.0,AU,AU,Australia,Australia
4,AUT,Republic of Austria,High income,Europe & Central Asia,NaN,Euro area,Euro,2011. Population figures compiled from adminis...,NaN,A simple multiplier is used to convert the nat...,...,"Income survey (IS), 2015",Yes,2010,2014.0,2018.0,2010.0,AT,AT,Austria,Austria

In [11]:
AccountsCountryClean = AccountsCountry[['Code', 'Short Name', 'Table Name', 'Long Name', 'Currency Unit']]

In [12]:
AccountsCountryClean = AccountsCountryClean.rename(columns={'Code': 'Country Code'})

In [13]:
AccountsCountryClean.head()

,Country Code,Short Name,Table Name,Long Name,Currency Unit
0,ALB,Albania,Albania,Republic of Albania,Albanian lek
1,ARG,Argentina,Argentina,Argentine Republic,Argentine peso
2,ARM,Armenia,Armenia,Republic of Armenia,Armenian dram
3,AUS,Australia,Australia,Commonwealth of Australia,Australian dollar
4,AUT,Austria,Austria,Republic of Austria,Euro

In [14]:
AccountsData = pd.read_csv("Wealth-AccountData.csv")

In [15]:
AccountsData.head()

,Country Name,Country Code,Series Name,Series Code,1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,4.49E+10,4.34E+10,3.71E+10,3.88E+10,4.22E+10,4.36E+10,...,6.610000e+10,6.810000e+10,6.850000e+10,7.080000e+10,7.160000e+10,7.250000e+10,7.370000e+10,7.57E+10,7.80E+10,8.12E+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,14072.79,13708.99,11794.1,12399.48,13573.26,14118.13,...,2.258200e+04,2.336286e+04,2.359058e+04,2.439397e+04,2.473162e+04,2.509002e+04,2.559371e+04,26326.26,27160.86,28333.68
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,3468.858,3355.549,2868.997,3013.391,3259.893,3424.007,...,2.825336e+03,2.889150e+03,2.848523e+03,2.930234e+03,2.954273e+03,2.957420e+03,2.987545e+03,3072.504,3178.417,3312.927
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,6507.931,6353.737,5466.692,5901.072,6492.73,6872.019,...,1.525319e+04,1.578992e+04,1.579854e+04,1.647360e+04,1.681013e+04,1.699138e+04,1.730701e+04,17817.1,18445.94,19245.19
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,4893.006,4737.857,4059.321,4191.445,4536.972,4695.071,...,3.529144e+03,3.613606e+03,3.603694e+03,3.683810e+03,3.696744e+03,3.719608e+03,3.767628e+03,3872.142,3992.188,4161.137

In [16]:
AccountsData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [17]:
columns=['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]']

In [18]:
# Clean the column names
AccountsDataClean = [col.split(' [')[0].strip() for col in columns]

# Assuming your DataFrame is named df, you can then apply these cleaned column names to it
AccountsData.columns = AccountsDataClean
AccountsDataC= AccountsData[['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995', '2000','2005', '2010', '2014', '2018']]

In [19]:
AccountsDataC.head()

,Country Name,Country Code,Series Name,Series Code,1995,2000,2005,2010,2014,2018
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,4.49E+10,4.36E+10,5.440000e+10,6.810000e+10,7.250000e+10,8.12E+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,14072.79,14118.13,1.807230e+04,2.336286e+04,2.509002e+04,28333.68
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,3468.858,3424.007,2.222115e+03,2.889150e+03,2.957420e+03,3312.927
3,Albania,ALB,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,6507.931,6872.019,1.168935e+04,1.578992e+04,1.699138e+04,19245.19
4,Albania,ALB,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,4893.006,4695.071,2.886736e+03,3.613606e+03,3.719608e+03,4161.137

In [20]:
AccountSeries=pd.read_csv("Wealth-AccountSeries.csv")

In [21]:
AccountSeries.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Topic',
       'Unit of measure', 'Periodicity', 'Reference period',
       'Statistical concept and methodology', 'Previous Indicator Code',
       'Previous Indicator Name'],
      dtype='object')

In [22]:
AccountSeriesRename= AccountSeries[['Code', 'Topic', 'Indicator Name', 'Long definition']]

In [23]:
AccountSeriesRename = AccountSeriesRename.rename(columns={'Code': 'Series Code','Long definition': 'Definition'})

In [24]:
AccountSeriesRename.head()

,Series Code,Topic,Indicator Name,Definition
0,NW.HCA.TO,Human capital,Human capital (constant 2018 US$),Human capital is computed as the present value...
1,NW.HCA.PC,Human capital,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...
2,NW.HCA.FEMP.PC,Human capital,"Human capital per capita, employed female (con...",Human capital is computed as the present value...
3,NW.HCA.MEMP.PC,Human capital,"Human capital per capita, employed male (const...",Human capital is computed as the present value...
4,NW.HCA.FEMA.PC,Human capital,"Human capital per capita, female (constant 201...",Human capital is computed as the present value...

In [40]:
cur, conn = create_database()

ObjectInUse: database "accounts" is being accessed by other users
DETAIL:  There are 2 other sessions using the database.

In [26]:
accounts_deneme_table_create=("""CREATE TABLE IF NOT EXISTS accountsdeneme(
deneme1_code VARCHAR
)""")
cur.execute(accounts_deneme_table_create)
conn.commit()

In [43]:
accounts_country_table_create=  ("""CREATE TABLE IF NOT EXISTS accountscountry(
country_code VARCHAR PRIMARY KEY,
short_name VARCHAR,
table_name VARCHAR,
long_name VARCHAR,
currency_unit VARCHAR
)""")
cur.execute(accounts_country_table_create)
conn.commit()

In [28]:
accounts_data_table_create= ("""CREATE TABLE IF NOT EXISTS accountsdata(
country_name VARCHAR,
country_code VARCHAR,
series_name VARCHAR,
series_code VARCHAR,
indicator_name VARCHAR,
year_1995 numeric,
year_2000 numeric,
year_2005 numeric,
year_2010 numeric,
year_2014 numeric,
year_2018 numeric
)""")
cur.execute(accounts_data_table_create)
conn.commit()

In [29]:
accountseries_data_table_create=("""CREATE TABLE IF NOT EXISTS accountseries(
series_code VARCHAR,
topic VARCHAR,
indicator_name VARCHAR,
definition VARCHAR
)""")
cur.execute(accountseries_data_table_create)
conn.commit()

In [44]:
accounts_country_table_insert=(""" INSERT INTO accountscountry(
country_code ,
short_name ,
table_name ,
long_name ,
currency_unit)
VALUES(%s, %s, %s, %s,%s)
""")

In [45]:
for i, row in AccountsCountryClean.iterrows():
    print(list(row))
    cur.execute(accounts_country_table_insert, list(row))

['ALB', 'Albania', 'Albania', 'Republic of Albania', 'Albanian lek']
['ARG', 'Argentina', 'Argentina', 'Argentine Republic', 'Argentine peso']
['ARM', 'Armenia', 'Armenia', 'Republic of Armenia', 'Armenian dram']
['AUS', 'Australia', 'Australia', 'Commonwealth of Australia', 'Australian dollar']
['AUT', 'Austria', 'Austria', 'Republic of Austria', 'Euro']
['AZE', 'Azerbaijan', 'Azerbaijan', 'Republic of Azerbaijan', 'New Azeri manat']
['BHR', 'Bahrain', 'Bahrain', 'Kingdom of Bahrain', 'Bahraini dinar']
['BGD', 'Bangladesh', 'Bangladesh', "People's Republic of Bangladesh", 'Bangladeshi taka']
['BLR', 'Belarus', 'Belarus', 'Republic of Belarus', 'Belarusian rubel']
['BEL', 'Belgium', 'Belgium', 'Kingdom of Belgium', 'Euro']
['BLZ', 'Belize', 'Belize', 'Belize', 'Belize dollar']
['BEN', 'Benin', 'Benin', 'Republic of Benin', 'West African CFA franc']
['BOL', 'Bolivia', 'Bolivia', 'Plurinational State of Bolivia', 'Bolivian Boliviano']
['BIH', 'Bosnia and Herzegovina', 'Bosnia and Herzegovina', 'Bosnia and Herzegovina', 'Bosnia and Herzegovina convertible mark']
['BWA', 'Botswana', 'Botswana', 'Republic of Botswana', 'Botswana pula']
['BRA', 'Brazil', 'Brazil', 'Federative Republic of Brazil', 'Brazilian real']
['BGR', 'Bulgaria', 'Bulgaria', 'Republic of Bulgaria', 'Bulgarian lev']
['BFA', 'Burkina Faso', 'Burkina Faso', 'Burkina Faso', 'West African CFA franc']
['BDI', 'Burundi', 'Burundi', 'Republic of Burundi', 'Burundi franc']
['KHM', 'Cambodia', 'Cambodia', 'Kingdom of Cambodia', 'Cambodian riel']
['CMR', 'Cameroon', 'Cameroon', 'Republic of Cameroon', 'Central African CFA franc']
['CAN', 'Canada', 'Canada', 'Canada', 'Canadian dollar']
['CAF', 'Central African Republic', 'Central African Republic', 'Central African Republic', 'Central African CFA franc']
['TCD', 'Chad', 'Chad', 'Republic of Chad', 'Central African CFA franc']
['CHL', 'Chile', 'Chile', 'Republic of Chile', 'Chilean peso']
['CHN', 'China', 'China', "People's Republic of China", 'Chinese yuan']
['COL', 'Colombia', 'Colombia', 'Republic of Colombia', 'Colombian peso']
['COM', 'Comoros', 'Comoros', 'Union of the Comoros', 'Comorian franc']
['COG', 'Congo', 'Congo, Rep.', 'Republic of Congo', 'Central African CFA franc']
['CRI', 'Costa Rica', 'Costa Rica', 'Republic of Costa Rica', 'Costa Rican colon']
['CIV', "Côte d'Ivoire", "Côte d'Ivoire", "Republic of Côte d'Ivoire", 'West African CFA franc']
['HRV', 'Croatia', 'Croatia', 'Republic of Croatia', 'Croatian kuna']
['CZE', 'Czech Republic', 'Czech Republic', 'Czech Republic', 'Czech koruna']
['COD', 'Dem. Rep. Congo', 'Congo, Dem. Rep.', 'Democratic Republic of the Congo', 'Congolese franc']
['DNK', 'Denmark', 'Denmark', 'Kingdom of Denmark', 'Danish krone']
['DJI', 'Djibouti', 'Djibouti', 'Republic of Djibouti', 'Djibouti franc']
['DOM', 'Dominican Republic', 'Dominican Republic', 'Dominican Republic', 'Dominican peso']
['ECU', 'Ecuador', 'Ecuador', 'Republic of Ecuador', 'U.S. dollar']
['EGY', 'Egypt', 'Egypt, Arab Rep.', 'Arab Republic of Egypt', 'Egyptian pound']
['SLV', 'El Salvador', 'El Salvador', 'Republic of El Salvador', 'U.S. dollar']
['EST', 'Estonia', 'Estonia', 'Republic of Estonia', 'Euro']
['SWZ', 'Eswatini', 'Eswatini', 'Kingdom of Eswatini', 'Swazi lilangeni']
['ETH', 'Ethiopia', 'Ethiopia', 'Federal Democratic Republic of Ethiopia', 'Ethiopian birr']
['FIN', 'Finland', 'Finland', 'Republic of Finland', 'Euro']
['FRA', 'France', 'France', 'French Republic', 'Euro']
['GAB', 'Gabon', 'Gabon', 'Gabonese Republic', 'Central African CFA franc']
['GEO', 'Georgia', 'Georgia', 'Georgia', 'Georgian lari']
['DEU', 'Germany', 'Germany', 'Federal Republic of Germany', 'Euro']
['GHA', 'Ghana', 'Ghana', 'Republic of Ghana', 'New Ghanaian cedi']
['GRC', 'Greece', 'Greece', 'Hellenic Republic', 'Euro']
['GTM', 'Guatemala', 'Guatemala', 'Republic of Guatemala', 'Guatemalan quetzal']
['GIN', 'Guinea', 'Guinea', 'Republic of Guinea', 'Guinean franc']
['GUY', 'Guyana', 'Guyana', 'Co-operative Republic of Guyana', 'Guyana dollar']
['HTI', 'Haiti', 'Haiti', 'Republic of Haiti', 'Haitian gourde']
['HND', 'Honduras', 'Honduras', 'Republic of Honduras', 'Honduran lempira']
['HUN', 'Hungary', 'Hungary', 'Hungary', 'Hungarian forint']
['ISL', 'Iceland', 'Iceland', 'Republic of Iceland', 'Iceland krona']
['IND', 'India', 'India', 'Republic of India', 'Indian rupee']
['IDN', 'Indonesia', 'Indonesia', 'Republic of Indonesia', 'Indonesian rupiah']
['IRN', 'Iran', 'Iran, Islamic Rep.', 'Islamic Republic of Iran', 'Iranian rial']
['IRQ', 'Iraq', 'Iraq', 'Republic of Iraq', 'Iraqi dinar']
['IRL', 'Ireland', 'Ireland', 'Ireland', 'Euro']
['ITA', 'Italy', 'Italy', 'Italian Republic', 'Euro']
['JAM', 'Jamaica', 'Jamaica', 'Jamaica', 'Jamaican dollar']
['JPN', 'Japan', 'Japan', 'Japan', 'Japanese yen']
['JOR', 'Jordan', 'Jordan', 'Hashemite Kingdom of Jordan', 'Jordanian dinar']
['KAZ', 'Kazakhstan', 'Kazakhstan', 'Republic of Kazakhstan', 'Kazakh tenge']
['KEN', 'Kenya', 'Kenya', 'Republic of Kenya', 'Kenyan shilling']
['KOR', 'Korea', 'Korea, Rep.', 'Republic of Korea', 'Korean won']
['KWT', 'Kuwait', 'Kuwait', 'State of Kuwait', 'Kuwaiti dinar']
['KGZ', 'Kyrgyz Republic', 'Kyrgyz Republic', 'Kyrgyz Republic', 'Kyrgyz som']
['LAO', 'Lao PDR', 'Lao PDR', "Lao People's Democratic Republic", 'Lao kip']
['LVA', 'Latvia', 'Latvia', 'Republic of Latvia', 'Euro']
['LBN', 'Lebanon', 'Lebanon', 'Lebanese Republic', 'Lebanese pound']
['LSO', 'Lesotho', 'Lesotho', 'Kingdom of Lesotho', 'Lesotho loti']
['LBR', 'Liberia', 'Liberia', 'Republic of Liberia', 'U.S. dollar']
['LTU', 'Lithuania', 'Lithuania', 'Republic of Lithuania', 'Euro']
['LUX', 'Luxembourg', 'Luxembourg', 'Grand Duchy of Luxembourg', 'Euro']
['MDG', 'Madagascar', 'Madagascar', 'Republic of Madagascar', 'Malagasy ariary']
['MWI', 'Malawi', 'Malawi', 'Republic of Malawi', 'Malawi kwacha']
['MYS', 'Malaysia', 'Malaysia', 'Malaysia', 'Malaysian ringgit']
['MDV', 'Maldives', 'Maldives', 'Republic of Maldives', 'Maldivian rufiyaa']
['MLI', 'Mali', 'Mali', 'Republic of Mali', 'West African CFA franc']
['MLT', 'Malta', 'Malta', 'Republic of Malta', 'Euro']
['MRT', 'Mauritania', 'Mauritania', 'Islamic Republic of Mauritania', 'Mauritanian ouguiya']
['MUS', 'Mauritius', 'Mauritius', 'Republic of Mauritius', 'Mauritian rupee']
['MEX', 'Mexico', 'Mexico', 'United Mexican States', 'Mexican peso']
['MDA', 'Moldova', 'Moldova', 'Republic of Moldova', 'Moldovan leu']
['MNG', 'Mongolia', 'Mongolia', 'Mongolia', 'Mongolian tugrik']
['MAR', 'Morocco', 'Morocco', 'Kingdom of Morocco', 'Moroccan dirham']
['MOZ', 'Mozambique', 'Mozambique', 'Republic of Mozambique', 'New Mozambican metical']
['NAM', 'Namibia', 'Namibia', 'Republic of Namibia', 'Namibian dollar']
['NPL', 'Nepal', 'Nepal', 'Nepal', 'Nepalese rupee']
['NLD', 'Netherlands', 'Netherlands', 'Kingdom of the Netherlands', 'Euro']
['NIC', 'Nicaragua', 'Nicaragua', 'Republic of Nicaragua', 'Nicaraguan gold cordoba']
['NER', 'Niger', 'Niger', 'Republic of Niger', 'West African CFA franc']
['NGA', 'Nigeria', 'Nigeria', 'Federal Republic of Nigeria', 'Nigerian naira']
['MKD', 'North Macedonia', 'North Macedonia', 'Republic of North Macedonia', 'Macedonian denar']
['NOR', 'Norway', 'Norway', 'Kingdom of Norway', 'Norwegian krone']
['OMN', 'Oman', 'Oman', 'Sultanate of Oman', 'Omani rial']
['PAK', 'Pakistan', 'Pakistan', 'Islamic Republic of Pakistan', 'Pakistani rupee']
['PAN', 'Panama', 'Panama', 'Republic of Panama', 'Panamanian balboa']
['PNG', 'Papua New Guinea', 'Papua New Guinea', 'The Independent State of Papua New Guinea', 'Papua New Guinea kina']
['PRY', 'Paraguay', 'Paraguay', 'Republic of Paraguay', 'Paraguayan guarani']
['PER', 'Peru', 'Peru', 'Republic of Peru', 'Peruvian new sol']
['PHL', 'Philippines', 'Philippines', 'Republic of the Philippines', 'Philippine peso']
['POL', 'Poland', 'Poland', 'Republic of Poland', 'Polish zloty']
['PRT', 'Portugal', 'Portugal', 'Portuguese Republic', 'Euro']
['QAT', 'Qatar', 'Qatar', 'State of Qatar', 'Qatari riyal']
['ROU', 'Romania', 'Romania', 'Romania', 'New Romanian leu']
['RUS', 'Russia', 'Russian Federation', 'Russian Federation', 'Russian ruble']
['RWA', 'Rwanda', 'Rwanda', 'Republic of Rwanda', 'Rwandan franc']
['SAU', 'Saudi Arabia', 'Saudi Arabia', 'Kingdom of Saudi Arabia', 'Saudi Arabian riyal']
['SEN', 'Senegal', 'Senegal', 'Republic of Senegal', 'West African CFA franc']
['SLE', 'Sierra Leone', 'Sierra Leone', 'Republic of Sierra Leone', 'Sierra Leonean leone']
['SGP', 'Singapore', 'Singapore', 'Republic of Singapore', 'Singapore dollar']
['SVK', 'Slovak Republic', 'Slovak Republic', 'Slovak Republic', 'Euro']
['SVN', 'Slovenia', 'Slovenia', 'Republic of Slovenia', 'Euro']
['SLB', 'Solomon Islands', 'Solomon Islands', 'Solomon Islands', 'Solomon Islands dollar']
['ZAF', 'South Africa', 'South Africa', 'Republic of South Africa', 'South African rand']
['ESP', 'Spain', 'Spain', 'Kingdom of Spain', 'Euro']
['LKA', 'Sri Lanka', 'Sri Lanka', 'Democratic Socialist Republic of Sri Lanka', 'Sri Lankan rupee']
['SUR', 'Suriname', 'Suriname', 'Republic of Suriname', 'Suriname dollar']
['SWE', 'Sweden', 'Sweden', 'Kingdom of Sweden', 'Swedish krona']
['CHE', 'Switzerland', 'Switzerland', 'Switzerland', 'Swiss franc']
['TJK', 'Tajikistan', 'Tajikistan', 'Republic of Tajikistan', 'Tajik somoni']
['TZA', 'Tanzania', 'Tanzania', 'United Republic of Tanzania', 'Tanzanian shilling']
['THA', 'Thailand', 'Thailand', 'Kingdom of Thailand', 'Thai baht']
['GMB', 'The Gambia', 'Gambia, The', 'Republic of The Gambia', 'Gambian dalasi']
['TGO', 'Togo', 'Togo', 'Republic of Togo', 'West African CFA franc']
['TTO', 'Trinidad and Tobago', 'Trinidad and Tobago', 'Republic of Trinidad and Tobago', 'Trinidad and Tobago dollar']
['TUN', 'Tunisia', 'Tunisia', 'Republic of Tunisia', 'Tunisian dinar']
['TUR', 'Turkey', 'Turkey', 'Republic of Turkey', 'New Turkish lira']
['TKM', 'Turkmenistan', 'Turkmenistan', 'Turkmenistan', 'New Turkmen manat']
['UGA', 'Uganda', 'Uganda', 'Republic of Uganda', 'Ugandan shilling']
['UKR', 'Ukraine', 'Ukraine', 'Ukraine', 'Ukrainian hryvnia']
['ARE', 'United Arab Emirates', 'United Arab Emirates', 'United Arab Emirates', 'U.A.E. dirham']
['GBR', 'United Kingdom', 'United Kingdom', 'United Kingdom of Great Britain and Northern Ireland', 'Pound sterling']
['USA', 'United States', 'United States', 'United States of America', 'U.S. dollar']
['URY', 'Uruguay', 'Uruguay', 'Oriental Republic of Uruguay', 'Uruguayan peso']
['VEN', 'Venezuela', 'Venezuela, RB', 'República Bolivariana de Venezuela', 'Venezuelan bolivar fuerte']
['VNM', 'Vietnam', 'Vietnam', 'Socialist Republic of Vietnam', 'Vietnamese dong']
['PSE', 'West Bank and Gaza', 'West Bank and Gaza', 'West Bank and Gaza', 'Israeli new shekel']
['YEM', 'Yemen', 'Yemen, Rep.', 'Republic of Yemen', 'Yemeni rial']
['ZMB', 'Zambia', 'Zambia', 'Republic of Zambia', 'New Zambian kwacha']
['ZWE', 'Zimbabwe', 'Zimbabwe', 'Republic of Zimbabwe', 'U.S. dollar']
['ARM', nan, nan, 'Armenia', nan]

UniqueViolation: duplicate key value violates unique constraint "accountscountry_pkey"
DETAIL:  Key (country_code)=(ARM) already exists.

In [ ]:
conn.commit()

In [38]:
accounts_data_table_insert=(""" INSERT INTO accountsdata(
country_name ,
country_code ,
series_name ,
series_code ,
indicator_name ,
year_1995 ,
year_2000 ,
year_2005 ,
year_2010 ,
year_2014 ,
year_2018)
VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)
""")

In [39]:
for i, row in AccountsDataC.iterrows():
    cur.execute(accounts_country_table_insert, list(row))

TypeError: not all arguments converted during string formatting

In [ ]:
curr.commit()

accountseries_data_table_insert = ("""INSERT INTO accountseries(
series_code ,
topic ,
indicator_name ,
definition)
VALUES (%s, %s, %s,%s)
""")

In [ ]:
for i, row in AccountSeriesRename.iterrows():
    cur.execute(accounts_country_table_insert, list(row))

In [ ]:
curr.commit()